<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include ("partials/head") %> 

<link rel="stylesheet" href="/css/login.css">

<body>
<!-- Header -->
<%- include ("partials/header") %> 
  
  <!-- Barra Navegacion -->
<%- include("partials/nav") %> 

<div class="body">
        <div class="block-form">
                  <h2>Log in</h2>
          <form action="login-user" method="GET" class="login-user">
              <div class="imgcontainer">
                <a href="/products/edit"><img src="/img/img_avatar2.png" alt="avatar" class="avatar" ></a>
              </div> 
              <div class="control-user">
                  <div class="control-form-login">
                      <label for="user"><%= username.user %></label>
                      <input type="text" name="usuario" placeholder="User" class="control-login" required>
                  </div>
                  <div class="control-form-login">
                      <label for="password"><%= password.user %></label>
                      <input type="password" name="password" placeholder="Password" id="password" required />
                  </div>
                  <div class="control-form-login">
                    <label for="email"><%= email.user %></label>
                    <input type="email" name="email" placeholder="email" id="email" required />
                  </div>
                  <div class="control-form-login">
                    <label for="address"><%= address.user %></label>
                    <input type="address" name="address" placeholder="street" id="address" required />
                    <input type="address" name="address" placeholder="city" id="address" required />
                    <input type="address" name="address" placeholder="zipcode" id="address" required />
                  </div>
                  <div class="control-form-login">
                    <label for="phone"><%= phone.user %></label>
                    <input type="phone" name="phone" placeholder="phone" id="phone" required />
                  </div>
                  </div>
                  <div class="container" style="background-color:#f1f1f1">
                    <button type="button" class="cancelbtn">Cancel</button>
                    <button type="submit" class="button">Save</button>
                  </div>

                  <div class="control-formulario">
                    <label>Fecha de nacimiento</label>
                   <input type="date" name="birth-date" placeholder="date of birth" class="control">

                    <input type="birth-date" name="birth-date" id="birth-date" class="<%= (locals.errors && errors.birth-date) ? 'input-error' : '' %>" value="<%= locals.oldValues && oldValues.birth-date %>"/>
                
                    <% if (locals.errors && errors.birth-date) { %>
                        <p class='msg-error'><%= errors.birth-date.msg %></p>
                    <% } %>

                </div>
          </form>
</div>
 <!-- Footer -->
 <%- include ("partials/footer") %>
</body> 
</html>