<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include ("../partials/head") %> 

<link rel="stylesheet" href="/css/productDetail.css">

  <body>
<!-- Header -->
<%- include ("../partials/header") %> 
  
  <!-- Barra Navegacion -->
<%- include("../partials/nav") %> 

    <main class="main">
      <section class="articulos1">
        <% if (productDetail == null) {%>
          UPS no encontramos el producto
         <% } else { %>
        <article class="lv">
            <div> 
                <img class="img-cat"src="<%= productDetail.image %>" alt="<%= productDetail.name %>">
            </div>
            <div class="lv1">
              <i class="fas fa-truck"></i>
                <div class="lv2">
                  <span class="price"><%= productDetail.price %></span>
                  <span class="discount"><%= productDetail.discount %></span>                    </div>
                  <h2 class="description"><%= productDetail.description %></h2>
                </div>   
            </div>
        </article>
        <article class="lv">
          <div class="control-product">
              <div class="control-formulario">
                  <label>ID</label>
                  <input type="text" name="id" class="control" required value="<%= product.id %>">
              </div>
              <div class="control-formulario">
                  <label>Product Name</label>
                  <input type="text" name="name" class="control" required value="<%= product.name %>">
              </div>
              <div class="control-formulario">
                  <label>Description</label>
                  <input type="text" name="description" class="control" required value="<%= product.description %>">
              </div>
              <div class="control-formulario">
                  <label>Price</label>
                  <input type="text" name="price" class="control" required value="<%= product.price %>">
              </div>
              <div class="control-formulario">
                  <label>Discount</label>
                  <input type="text" name="discount" class="control" required value="<%= product.discount %>">
              </div>
              <div class="control-formulario">
                  <label>Quantity</label>
                  <input type="text" name="Quantity" class="control" required value="<%= product.Quantity %>">
              </div>
              <div class="control-formulario">
                  <label>Choose colour</label>
                  <li type="none"><input type="checkbox" name="colour" id="colour" value="white" <%= product.colour.indexOf('white') == -1 ? "" : "checked"%>/> White</li>
                  <li type="none"><input type="checkbox" name="colour" id="colour" value="black" <%= product.colour.indexOf('black') == -1 ? "" : "checked"%>/> Black</li>
                  <li type="none"><input type="checkbox" name="colour" id="colour" value="pink" <%= product.colour.indexOf('pink') == -1 ? "" : "checked"%>/> Pink</li>
                  <li type="none"><input type="checkbox" name="colour" id="colour" value="green" <%= product.colour.indexOf('green') == -1 ? "" : "checked"%>/> Green</li>
                  <li type="none"><input type="checkbox" name="colour" id="colour" value="red" <%= product.colour.indexOf('red') == -1 ? "" : "checked"%>/> Red</li>
                  <li type="none"><input type="checkbox" name="colour" id="colour" value="yellow" <%= product.colour.indexOf('yellow') == -1 ? "" : "checked"%> /> Yellow</li>
                  <li type="none"><input type="checkbox" name="colour" id="colour" value="orange" <%= product.colour.indexOf('orange') == -1 ? "" : "checked"%>/> Orange</li>
                  <li type="none"><input type="checkbox" name="colour" id="colour" value="grey" <%= product.colour.indexOf('grey') == -1 ? "" : "checked"%>/> Grey</li>
                  <li type="none"><input type="checkbox" name="colour" id="colour" value="light-Blue" <%= product.colour.indexOf('light-blue') == -1 ? "" : "checked"%>/> Light Blue</li>
                  <li type="none"><input type="checkbox" name="colour" id="colour" value="blue" <%= product.colour.indexOf('blue') == -1 ? "" : "checked"%>/> Blue</li>
                  <li type="none"><input type="checkbox" name="colour" id="colour" value="beige" <%= product.colour.indexOf('beige') == -1 ? "" : "checked"%>/> Beige</li>
                  <li type="none"><input type="checkbox" name="colour" id="colour" value="violet" <%= product.colour.indexOf('violet') == -1 ? "" : "checked"%>/> Violet</li>
              </div>
              <div class="control-formulario">
                  <label for="category">Category</label>
                      <li type="none"><input type="radio" name="category" id="category" value="t-shirt" required  <%= product.category.indexOf('t-shirt') == -1 ? "" : "checked"%> /> T-shirt</li>
                      <li type="none"><input type="radio" name="category" id="category" value="skirt" required <%= product.category.indexOf('skirt') == -1 ? "" : "checked"%> /> Skirt</li>
                      <li type="none"><input type="radio" name="category" id="category" value="shorts" required <%= product.category.indexOf('shorts') == -1 ? "" : "checked"%> /> Shorts</li>
                      <li type="none"><input type="radio" name="category" id="category" value="sweater" required <%= product.category.indexOf('sweater') == -1 ? "" : "checked"%> /> Sweater</li>
                      <li type="none"><input type="radio" name="category" id="category" value="hoodie" required <%= product.category.indexOf('hoodie') == -1 ? "" : "checked"%> /> Hoodie</li>
                      <li type="none"><input type="radio" name="category" id="category" value="jacket" required <%= product.category.indexOf('jacket') == -1 ? "" : "checked"%> /> Jacket</li>
              </div>
              <div class="control-formulario">
                      <label>Foto</label>
                      <img src="<%= product.image %>" width="10vw" />
                      <input type="file" name="image" id="image" accept=".jpg" multiple class="control">
              </div>
              <div class="control-formulario">
                  <button type="reset" class="button-reset">Reset</button>
                  <button type="submit" class="button-submit">Save</button>
              </div>
          </div>
        </article>    
        <article class="lv">
            <div class="lv3">
              <p class = "title"><%= productDetail.name %></p>
                <div class = "product-detail">
                  <p>Description: Tissue</p>
                  <p>Cloth: Tissue</p>
                  <p>Size: Unique</p>
                  <p>In Stock <span>10u</span></p>
                  <p>Price: <span>$1500</span></p>
                </div>
                <div class = "container">
                    <label for ="colour">Colors:</label>
                    <select name="colour" id="colour">
                      <option value="option-1">Black</option>
                      <option value="option-2">White</option>
                      <option value="option-3">Red</option>
                      <option value="option-4">Yellow</option>
                    </select>
                    <label for ="quantity">Quantity:</label>
                    <input type = "number" min = "0" value = "1">
                    <form action="/products/<%= productDetail.id %>?_method=DELETE" method="POST">
                      <br>
                      <button type="submit" class="cancelbtn" >DELETE</button>
                    </form> 
                    <button type = "button" class = "button">
                      Add to Cart
                    </button>
                </div>
            </div>       
        </article>       
        <% } %>
      </section> 
    </main>
 <!-- Footer -->
 <%- include ("../partials/footer") %>
  </body> 
</html>