<!DOCTYPE html>
<html lang="en">
 <!-- Head -->
 <%- include ("../partials/head") %> 

 <link rel="stylesheet" href="/css/catalogue.css">
 
 <body>
 <!-- Header -->
 <%- include ("../partials/header") %> 
   
   <!-- Barra Navegacion -->
 <%- include("../partials/nav") %> 
  <!-- Contenido slider -->
  <main class="main">
    <section class="section">
        <h3>Catalogue</h3>
        <section class="articulos1">
            <% productList.forEach((product) => { %>
            <article class="lv">
                <div> 
                    <img class="img-cat"src="<%= product.image %>" alt="<%= product.name %>">
                </div>
                <a class="product-detail" href="/products/<%= product.id %>" title="Detail" target="_self">
                    <h4>Detail</h4>
                </a>
                <a class="product-detail" href="/products/<%= product.id %>/edit" title="Edit" target="_self">
                    <h4>Edit</h4>
                </a>  
                <div class="lv1">
                    <i class="fas fa-truck"></i>
                        <div class="lv2">
                            <span class="price"><%= product.price %></span>
                            <span class="discount"><%= product.discount %></span>
                        </div>
                    <p class="description"><%= product.description %></p>
                </div>                           
            </article>
            <% }) %>
        </section>    
    </section>
</main>
<!-- Footer -->
  <%- include ("../partials/footer") %>
</body> 
</html>