<!DOCTYPE html>
<html lang="en">
 <!-- Head -->
<%- include ("../partials/head") %> 

<link rel="stylesheet" href="/css/productEdit.css">

<body>
<!-- Header -->
<%- include ("../partials/header") %> 
  
  <!-- Barra Navegacion -->
<%- include("../partials/nav") %> 

    <main class="main">
        <form action="/products/<%= product.id %>?_method=PUT" method="POST" class="create-user" enctype="multipart/form-data" > 
            <article class="lv">
                <div class="control-product">
                    <div class="control-formulario">
                        <label>ID</label>
                        <input type="text" name="id" class="control" required value="<%= product.id %>">
                    </div>
                    <div class="control-formulario">
                        <label>Product Name</label>
                        <input type="text" name="name" class="control" required value="<%= product.name %>">
                    </div>
                    <div class="control-formulario">
                        <label>Description</label>
                        <input type="text" name="description" class="control" required value="<%= product.description %>">
                    </div>
                    <div class="control-formulario">
                        <label>Price</label>
                        <input type="text" name="price" class="control" required value="<%= product.price %>">
                    </div>
                    <div class="control-formulario">
                        <label>Discount</label>
                        <input type="text" name="discount" class="control" required value="<%= product.discount %>">
                    </div>
                    <div class="control-formulario">
                        <label>Quantity</label>
                        <input type="text" name="quantity" class="control" required value="<%= product.quantity %>">
                    </div>
                    <div class="control-formulario">
                        <label>Choose colour</label>
                                <% colors.forEach(color=>{%>
                                  <li type="none"><input type="checkbox" name="colour" id="<%= color.id %>" value="<%= color.id %>" <%= product.colors.find (col=> col.id === color.id)  ? "checked" : ""%>/> <%= color.name %> </li>
                                <% }) %> 
                             
                    </div>
                    <div class="control-formulario">
                        <label for="category">Category</label>

                        <% categories.forEach(category => {%>
                            <li type="none"><input type="radio" name="category" id="<% category.id %>" value="<% category.id %>" required  <%= product.category.id == category.id ? "checked" : ""%> /> <%= category.name %></li> 
                            
                        <%})%>
                    </div>
                    <div class="control-formulario">
                            <label>Foto</label>
                            <img src="/img/article/<%= product.image %>" width="10vw" />
                            <input type="file" name="image" id="image" accept=".jpg" multiple class="control">
                    </div>
                    <div class="control-formulario">
                        <button type="reset" class="button-reset">Reset</button>
                        <button type="submit" class="button-submit">Save</button>
                    </div>
                </div>
            </article>    
        </form>
    </main>

 <!-- Footer -->
 <%- include ("../partials/footer") %>
</body> 
</html>

