<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include ("../partials/head") %> 

<link rel="stylesheet" href="/css/productDetail.css">

  <body>
<!-- Header -->
<%- include ("../partials/header") %> 
  
  <!-- Barra Navegacion -->
<%- include("../partials/nav") %> 

    <main class="main">
      <section class="articulos1">
        <% if (productDetail == null) {%>
          UPS no encontramos el producto
         <% } else { %>
        <article class="lv">
            <div> 
                <img class="img-cat"src="<%= productDetail.image %>" alt="<%= productDetail.name %>">
            </div>
            <div class="lv1">
              <i class="fas fa-truck"></i>
                <div class="lv2">
                  <span class="price"><%= productDetail.price %></span>
                  <span class="discount"><%= productDetail.discount %></span>                    </div>
                  <h2 class="description"><%= productDetail.description %></h2>
                </div>   
            </div>
        </article>    
        <article class="lv">
            <div class="lv3">
              <p class = "title"><%= productDetail.name %></p>
                <div class = "product-detail">
                  <p>Description: Tissue</p>
                  <p>Cloth: Tissue</p>
                  <p>Size: Unique</p>
                  <p>In Stock <span>10u</span></p>
                  <p>Price: <span>$1500</span></p>
                </div>
                <div class = "container">
                    <label for ="colour">Colors:</label>
                    <select name="colour" id="colour">
                      <option value="option-1">Black</option>
                      <option value="option-2">White</option>
                      <option value="option-3">Red</option>
                      <option value="option-4">Yellow</option>
                    </select>
                    <label for ="quantity">Quantity:</label>
                    <input type = "number" min = "0" value = "1">
                    <form action="/products/<%= productDetail.id %>?_method=DELETE" method="POST">
                      <button type="submit">Delete</button>
                    </form> 
                    <button type = "button" class = "button">
                      Add to Cart
                    </button>
                </div>
            </div>       
        </article>       
        <% } %>
      </section> 
    </main>
 <!-- Footer -->
 <%- include ("../partials/footer") %>
  </body> 
</html>