<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include ("../partials/head") %> 

<link rel="stylesheet" href="/css/productDetail.css">

  <body>
<!-- Header -->
<%- include ("../partials/header") %> 
  
  <!-- Barra Navegacion -->
<%- include("../partials/nav") %> 

    <main class="main">
      <section class="articulos1">
        <% if (productDetail == null) {%>
          UPS no encontramos el producto
         <% } else { %>
        <article class="lv">
            <div> 
                <img class="img-cat"src="<%= productDetail.image %>" alt="<%= productDetail.name %>">
            </div>
            <div class="lv1">
              <i class="fas fa-truck"></i>
                <div class="lv2">
                  <span class="price"><%= productDetail.price %></span>
                  <span class="discount"><%= productDetail.discount %></span>                    </div>
                  <h2 class="description"><%= productDetail.description %></h2>
                </div>   
            </div>
        </article>
        <article class="lv">
          <div class="lv3">
            <p class = "title"><%= productDetail.name %></p>
            <div class="control-formulario">
                <label>ID:</label>
                <span type="text" name="id" class="control"><%= productDetail.id %></span>
            </div>
            <div class="control-formulario">
                <label>Product Name:</label>
                <span type="text" name="name" class="control"><%= productDetail.name %></span>
            </div>
            <div class="control-formulario">
                <label>Description:</label>
                <span type="text" name="description" class="control"><%= productDetail.description %></span>
            </div>
            <div class="control-formulario">
                <label>Price:</label>
                <span type="text" name="price" class="control"><%= productDetail.price %></span>
            </div>
            <div class="control-formulario">
                <label>Discount:</label>
                <span type="text" name="discount" class="control"><%= productDetail.discount %></span>
            </div>
            <div class="control-formulario">
                <label>Quantity:</label>
                <span type="text" name="Quantity" class="control"><%= productDetail.quantity %></span>
            </div>
            <div class="control-formulario">
                <label>Colours:</label>
                <li><%= productDetail.colour %></li>
            </div>
            <div class="control-formulario">
                <label for="category">Category:</label>
                    <li><%= productDetail.category %></li>
            </div>
            <form action="/products/<%= productDetail.id %>?_method=DELETE" method="POST">
              <br>
              <button type="submit" class="cancelbtn" >DELETE</button>
            </form>
            <a href="/products/<%= productDetail.id %>/edit">
              <button type = "button" class = "button">Edit</button>
            </a>
            <a href="/products/productCart">
              <button type = "button" class = "button">Add to Cart</button>
            </a> 
          </div>       
        </article>       
        <% } %>
      </section> 
    </main>
 <!-- Footer -->
 <%- include ("../partials/footer") %>
  </body> 
</html>