<!DOCTYPE html>
<html lang="en">
 <!-- Head -->
 <%- include ("../partials/head") %> 

 <link rel="stylesheet" href="/css/productNew.css">
 
 <body>
 <!-- Header -->
 <%- include ("../partials/header") %> |
   
   <!-- Barra Navegacion -->
 <%- include("../partials/nav") %> 
  <!-- Contenido slider -->
  <main class="main">
    <form id="create-product" action="/products/create" method="POST" class="create-product" enctype="multipart/form-data"> 
            <!-- 
                action: la ruta donde vamos a mandar nuestros campos 
            -->
        <article class="lv">
            <div class="control-user">
                <div class="control-formulario">
                    <label>Product Name</label>
                    <input type="text" name="name" class="control" required value="name">
                </div>
                <div class="control-formulario">
                    <label>Description</label>
                    <input type="text" name="description" class="control" required value="description">
                </div>
                <div class="control-formulario">
                    <label>Price</label>
                    <input type="text" name="price" class="control" required value="price">
                </div>
                <div class="control-formulario">
                    <label>Discount</label>
                    <input type="text" name="discount" class="control" required value="discount">
                </div>
                <div class="control-formulario">
                    <label>Choose color</label>
                    <% colors.forEach(color=>{%>
                        <li type="none"><input type="checkbox" name="color" id="<%= color.id %>" value="<%= color.id %>" /> <%= color.name %> </li>
                      <% }) %> 
                    
                </div>
                <div class="control-formulario">
                    <label for="category">Category</label>
                    <% categories.forEach(category => {%>
                        <li type="none"><input type="radio" name="category" id="<%= category.id %>" value="<%= category.id %>" required /> <%= category.name %></li> 
                    <%})%>
                
                </div>
                <div class="control-formulario">
                        <label>Image</label>
                        <img src="" width="10vw" />
                        <input type="file" name="image" id="image" accept=".jpg" multiple class="control">
                </div>
                <div class="control-formulario">
                    <button type="reset" class="button-reset">Reset</button>
                    <button type="submit" class="button-submit">Create</button>
                </div>
            </article>
        </div>
    </form>
</main>

 <!-- Footer -->
 <%- include ("../partials/footer") %>
 <script src="/js/form-validation-new-product.js"></script>
</body>
</html> 