<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include ("../partials/head") %> 

<link rel="stylesheet" href="/css/login.css">

<body>
<!-- Header -->
<%- include ("../partials/header") %> 
  
  <!-- Barra Navegacion -->
<%- include("../partials/nav") %> 
<div class="body">
        <div class="block-form">
                  <h2>Log in</h2>
          <form action="/users/login" method="POST" class="login-user">
  <!--            <div class="imgcontainer">
                <a href="/products/edit"><img src="/img/img_avatar2.png" alt="avatar" class="avatar" ></a>
              </div>
  -->             
              <div class="control-user">
                  <div class="control-formulario">
                      <label for="name">Enter your email</label>
                    <!-- <input type="text" name="usuario" placeholder="User" class="control-login" required>-->
                      
                      <input type="text" name="email" id="email" class="<%= (locals.errors && errors.email) ? 'input-error' : '' %>" value="<%= locals.oldValues && oldValues.email %>"/>
                    
                      <% if (locals.errors && errors.email) { %>
                          <p class='msg-error'><%= errors.email.msg %></p>
                      <% } %>
                  
                    </div>
                  <div class="control-formulario">
                      <label for="password">Enter your password</label>
                       <!--<input type="password" name="password" placeholder="Password" id="password" class="control-login" required />-->
                      <input type="password" name="password" id="password" class="<%= (locals.errors && errors.password) ? 'input-error' : '' %>" value="<%= locals.oldValues && oldValues.password %>"/>
                    
                      <% if (locals.errors && errors.password) { %>
                          <p class='msg-error'><%= errors.password.msg %></p>
                      <% } %>

                  </div>
                  <label for="category"></label>
                    <ul class="intereses">
                      <li type="none" class="check"><input type="checkbox" name="remember" id="remember" value="yes" <%= (locals.oldValues && oldValues.remember === 'yes') ? 'checked' : '' %>/>  Remember me</li>

                  <button type="submit" class="button">Sign in</button>

                  </div>
                  <div class="container" style="background-color:#f1f1f1">
                    <button type="button" class="cancelbtn">Cancel</button>
                    <span class="psw">Forgot <a href="#">password?</a></span>
                  </div>
          </form>
</div>
 <!-- Footer -->
 <%- include ("../partials/footer") %>
</body> 
</html>