<!DOCTYPE html>
<html lang="es">
<!-- Head -->
<%- include ("../partials/head") %> 
<link rel="stylesheet" href="/css/profile.css">

<body>
  <!-- Header -->
  <%- include ("../partials/header") %> 
    
    <!-- Barra Navegacion -->
  <%- include("../partials/nav") %> 
  <main class="main">
    <div class="body">
      <div class="block-form">
          <h2>Welcome <%= user.name %> </h2>
   <!--        <form action="/users/register" method="POST" class="create-user" enctype="multipart/form-data">  -->
              <div class="control-user">
                  <div class="control-formulario">
                      <label>Name</label>
                   <!--   <input type="text" name="name-lastname" placeholder="Name and Lastname" class="control">-->

                      <input type="text" name="name" id="name" class="control" value="<%= user.name %>"/>
         
                  </div>
                  <div class="control-formulario">
                      <label>Email</label>
                   <!--  <input type="text" name="usuario" placeholder="User" class="control">-->

                      <input type="text" name="email" id="email" class="control" value="<%= user.email %>"/>
                  
                  </div>

                  <div class="control-formulario">
                      <label>Address</label>
                  <!--    <input type="text" name="address" placeholder="address" class="control">-->
                     
                      <input type="address" name="address" id="address" class="control" value="<%= user.address %>"/>
                  
                
                  </div>
                  <div class="control-formulario">
                      <label for="image">Profile picture</label>

                    <input type="file" name="image" id="image" class="control" value="<%= user.image %>"/>

                  </div>
                  <div>
                    <a>
                      <button type="submit" class="button-submit">Save Changes</button>
                    </a>
                    <a href="/users/logout">
                      <button type="reset" class="button-reset">Log Out</button>
                    </a>  
                      
                  </div>
              </div>
      </div>
  </div>
  </main>
     <!-- Footer -->
   <%- include ("../partials/footer") %>
</body>
</html> 